.header {
    width: 920px;
    margin-top: 24px;
}

.topLine {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}

.nav {
    display: flex;
    gap: 24px;
}

.boldText {
    font-weight: bold;
}

.underlinedText {
    text-decoration: underline;
}

.description {
    margin-top: 8px;
    font-size: 16px;
}